---
export interface Props {
  image: string;
  name: string;
  role: string;
  majorYear: string;
  linkedin: string;
}

const { image, name, role, majorYear, linkedin } = Astro.props;
const imagePath = `../../public/media/${image}`;
console.log(imagePath);
---
<div class="tile">
  <img src={imagePath} alt={name} class="profile-image" />
  <p class="name">{name}</p>
  <p class="role">{role}</p>
  <p class="major-year">{majorYear}</p>
  <a href={linkedin} target="_blank" class="linkedin-link">LinkedIn</a>
</div>

<style>
.tile {
  padding: 15px;
  text-align: center;
  max-width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.name {
  font-size: 2rem;
  /* font-weight: ; */
  margin: 8px 0;
text-align: center;
}

.role, .major-year {
  font-size: 1rem;
  margin: 4px 0;
}

.linkedin-link {
  display: inline-block;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #0077b5;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.875rem;
}

.linkedin-link:hover {
  background-color: #005582;
}
</style>