---
export interface Props {
  image: string;
  name: string;
  role: string;
  majorYear: string;
  linkedin: string;
}

const { image, name, role, majorYear, linkedin } = Astro.props;
const imagePath = `public/media/${image}`; // Adjusted path
console.log(imagePath);
---
<div class="tile">
  <img src={imagePath} alt={name} class="profile-image" />
  <p class="name">{name}</p>
  <a href={linkedin} target="_blank" class="linkedin-link">{role}</a>
  <p class="major-year">{majorYear}</p>
</div>

<style>
.tile {
  padding: 15px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  margin-bottom: 10px;
}

.name {
  font-size: 2rem;
  margin: 0 0;
  text-align: center;
}

.role, .major-year {
  font-size: 1rem;
  margin: 0.5rem;
}

.linkedin-link {
  font-size: 1.5rem;
}

.linkedin-link:hover {
  background-color: #005582;
}
</style>